<launch>
    <arg name="ns_flag" default="g0" />
    <param name="ns_flag" value="$(arg ns_flag)" />
    <arg name="ID_in_group" value="0"/>
    <arg name="gazebo_model_name" default="uav$(arg ID_in_group)"/>
    <!-- 注意波特率信息 -->
    <arg name="fcu_url" default="/dev/ttyTHS0:921600" />
    <arg name="gcs_url" default="" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="log_output" default="screen" />
    <arg name="fcu_protocol" default="v2.0" />
    <arg name="respawn_mavros" default="false" />
    <!-- MAVROS -->
    <group if="$(eval arg('ns_flag') == 'g0')">
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value="$(arg gcs_url)"/>
        </include>        
    </group>
    <group if="$(eval arg('ns_flag') == 'g1')">
        <group ns="$(arg gazebo_model_name)">
            <include file="$(find mavros)/launch/px4.launch">
                <arg name="fcu_url" value="$(arg fcu_url)"/>
                <arg name="gcs_url" value="$(arg gcs_url)"/>
            </include>  
        </group> 
    </group>
</launch>